In [1]:
!pip install nbformat

Requirement already satisfied: nbformat in /Users/kellychen/anaconda/lib/python3.5/site-packages

In [2]:
import nbformat

In [4]:
read_nb = nbformat.read('intro-tables.ipynb', 3)

In [5]:
read_nb

{'metadata': {'anaconda-cloud': {},
  'kernelspec': {'display_name': 'Python 3',
   'language': 'python',
   'name': 'python3'},
  'language_info': {'codemirror_mode': {'name': 'ipython', 'version': 3},
   'file_extension': '.py',
   'mimetype': 'text/x-python',
   'name': 'python',
   'nbconvert_exporter': 'python',
   'pygments_lexer': 'ipython3',
   'version': '3.6.3'},
  'name': ''},
 'nbformat': 3,
 'nbformat_minor': 0,
 'orig_nbformat': 4,
 'orig_nbformat_minor': 1,
 'worksheets': [{'cells': [{'cell_type': 'markdown',
     'metadata': {},
     'source': '# Introduction to Tables\n---\n\nIn this notebook, you will learn about tables in the datascience module and methods associated with them.\nThis notebook assumes that you have already completed the "Introduction to Data Science" notebook.\n\n*Estimated Time: 30 minutes*\n\n---\n\n**Topics Covered:**\n- Learn how to import and create new Tables.\n- Learn how to access certain rows, columns, and values.\n- Learn various methods of finding new information from a table of data.\n\n**Parts:**\n- Creating Tables\n- Accessing Values\n- Working With Data\n\n**Dependencies:**'},
    {'cell_type': 'code',
     'collapsed': False,
     'input': '!pip install datascience\n\nimport numpy as np\nfrom datascience import *',
     'language': 'python',
     'metadata': {},
     'outputs': [{'output_type': 'stream',
       'stream': 'stdout',
       'text': 'Requirement already satisfied: datascience in c:\\users\\ashley\\anaconda3\\lib\\site-packages\nRequirement already satisfied: coveralls==0.5 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from datascience)\nRequirement already satisfied: pytest in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from datascience)\nRequirement already satisfied: coverage==3.7.1 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from datascience)\nRequirement already satisfied: folium==0.1.5 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from datascience)\nRequirement already satisfied: sphinx in c:\\users\\ashley\\anaconda3\\lib\\site-packages\\sphinx-1.5.1-py3.6.egg (from datascience)\nRequirement already satisfied: setuptools in c:\\users\\ashley\\anaconda3\\lib\\site-packages\\setuptools-27.2.0-py3.6.egg (from datascience)\nRequirement already satisfied: PyYAML>=3.10 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from coveralls==0.5->datascience)\nRequirement already satisfied: requests>=1.0.0 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from coveralls==0.5->datascience)\nRequirement already satisfied: docopt>=0.6.1 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from coveralls==0.5->datascience)\nRequirement already satisfied: py>=1.4.29 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from pytest->datascience)\nRequirement already satisfied: colorama in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from pytest->datascience)\nRequirement already satisfied: six>=1.5 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\nRequirement already satisfied: Jinja2>=2.3 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\nRequirement already satisfied: Pygments>=2.0 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\nRequirement already satisfied: docutils>=0.11 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\nRequirement already satisfied: snowballstemmer>=1.1 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\nRequirement already satisfied: babel!=2.0,>=1.3 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\nRequirement already satisfied: alabaster<0.8,>=0.7 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\nRequirement already satisfied: imagesize in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\nRequirement already satisfied: MarkupSafe>=0.23 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from Jinja2>=2.3->sphinx->datascience)\nRequirement already satisfied: pytz>=0a in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from babel!=2.0,>=1.3->sphinx->datascience)\n'}],
     'prompt_number': 3},
    {'cell_type': 'heading',
     'level': 2,
     'metadata': {},
     'source': 'Creating Tables'},
    {'cell_type': 'markdown',
     'metadata': {},
     'source': 'When dealing with a collection of things with multiple attributes, it can be useful to put the data in a _table_.  Tables are a nice way of organizing data in a 2-dimentional data set. For example, take a look at the table below.'},
    {'cell_type': 'code',
     'collapsed': False,
     'input': "Table.read_table('http://inferentialthinking.com/notebooks/nba_salaries.csv')",
     'language': 'python',
     'metadata': {},
     'outputs': [{'html': '<table border="1" class="dataframe">\n    <thead>\n        <tr>\n            <th>PLAYER</th> <th>POSITION</th> <th>TEAM</th> <th>\'15-\'16 SALARY</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td>Paul Millsap    </td> <td>PF      </td> <td>Atlanta Hawks</td> <td>18.6717       </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Al Horford      </td> <td>C       </td> <td>Atlanta Hawks</td> <td>12            </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Tiago Splitter  </td> <td>C       </td> <td>Atlanta Hawks</td> <td>9.75625       </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Jeff Teague     </td> <td>PG      </td> <td>Atlanta Hawks</td> <td>8             </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Kyle Korver     </td> <td>SG      </td> <td>Atlanta Hawks</td> <td>5.74648       </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Thabo Sefolosha </td> <td>SF      </td> <td>Atlanta Hawks</td> <td>4             </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Mike Scott      </td> <td>PF      </td> <td>Atlanta Hawks</td> <td>3.33333       </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Kent Bazemore   </td> <td>SF      </td> <td>Atlanta Hawks</td> <td>2             </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Dennis Schroder </td> <td>PG      </td> <td>Atlanta Hawks</td> <td>1.7634        </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Tim Hardaway Jr.</td> <td>SG      </td> <td>Atlanta Hawks</td> <td>1.30452       </td>\n        </tr>\n    </tbody>\n</table>\n<p>... (407 rows omitted)</p',
       'metadata': {},
       'output_type': 'pyout',
       'prompt_number': 4,
       'text': "PLAYER           | POSITION | TEAM          | '15-'16 SALARY\nPaul Millsap     | PF       | Atlanta Hawks | 18.6717\nAl Horford       | C        | Atlanta Hawks | 12\nTiago Splitter   | C        | Atlanta Hawks | 9.75625\nJeff Teague      | PG       | Atlanta Hawks | 8\nKyle Korver      | SG       | Atlanta Hawks | 5.74648\nThabo Sefolosha  | SF       | Atlanta Hawks | 4\nMike Scott       | PF       | Atlanta Hawks | 3.33333\nKent Bazemore    | SF       | Atlanta Hawks | 2\nDennis Schroder  | PG       | Atlanta Hawks | 1.7634\nTim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452\n... (407 rows omitted)"}],
     'prompt_number': 4},
    {'cell_type': 'markdown',
     'metadata': {},
     'source': 'This table shows players in the NBA, their position, team, and salary (in millions of dollars) for each player. To create this table, we have drawn the data from the file at <a href="http://inferentialthinking.com/notebooks/nba_salaries.csv">this link</a>, called `nba_salaries.csv`. In general, to import data from a `.csv` file, we write **`Table.read_table("file_name")`.**\n\nHowever, we can also create our own tables from scratch without having to import data from another file. Let\'s say we have two arrays, one with a list of fruits, and another with a list of their price at the Berkeley Student Food Collective. Then, we can create a new `Table` with each of these arrays as columns with the `with_columns` method:'},
    {'cell_type': 'code',
     'collapsed': False,
     'input': 'fruit_names = make_array("Apple", "Orange", "Banana")\nfruit_prices = make_array(1, 0.75, 0.5)\nfruit_table = Table().with_columns("Fruit", fruit_names,\n                                  "Price ($)", fruit_prices)\nfruit_table',
     'language': 'python',
     'metadata': {},
     'outputs': [{'html': '<table border="1" class="dataframe">\n    <thead>\n        <tr>\n            <th>Fruit</th> <th>Price ($)</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td>Apple </td> <td>1        </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Orange</td> <td>0.75     </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Banana</td> <td>0.5      </td>\n        </tr>\n    </tbody>\n</table>',
       'metadata': {},
       'output_type': 'pyout',
       'prompt_number': 27,
       'text': 'Fruit  | Price ($)\nApple  | 1\nOrange | 0.75\nBanana | 0.5'}],
     'prompt_number': 27},
    {'cell_type': 'markdown',
     'metadata': {},
     'source': 'The **`with_columns`** method takes in pairs of column labels and arrays, and creates a new table with each array as a column of the table. Finally, to create a new table (with no columns or rows), we simply write'},
    {'cell_type': 'code',
     'collapsed': False,
     'input': 'empty_table = Table()\nempty_table',
     'language': 'python',
     'metadata': {},
     'outputs': [{'html': '<table border="1" class="dataframe">\n    <thead>\n        <tr>\n            \n        </tr>\n    </thead>\n    <tbody>\n</table>',
       'metadata': {},
       'output_type': 'pyout',
       'prompt_number': 18,
       'text': ''}],
     'prompt_number': 18},
    {'cell_type': 'markdown',
     'metadata': {},
     'source': "We typically start off with empty tables when we need to add rows inside for loops, which we'll see later."},
    {'cell_type': 'heading',
     'level': 2,
     'metadata': {},
     'source': 'Accessing Values'},
    {'cell_type': 'markdown',
     'metadata': {},
     'source': "Often, it is useful to access only the rows, columns, or values related to our analysis. We'll look at several ways to cut down our table into smaller, more digestible parts.\n\nLet's go back to our table of NBA players."},
    {'cell_type': 'markdown',
     'metadata': {},
     'source': '** Exercise 1 **\n\nBelow, assign a variable named `nba_salaries` to the data from the `nba_salaries.csv` file at http://inferentialthinking.com/notebooks/nba_salaries.csv, then display the table. (Hint: use the `read_table` function from the previous section).'},
    {'cell_type': 'code',
     'collapsed': False,
     'input': '# YOUR CODE HERE\n\nnba_salaries = Table.read_table("http://inferentialthinking.com/notebooks/nba_salaries.csv")',
     'language': 'python',
     'metadata': {},
     'outputs': [],
     'prompt_number': 5},
    {'cell_type': 'markdown',
     'metadata': {},
     'source': "Notice that not all of the rows are displayed--in fact, there are over 400 rows in the table! By default, we are shown the first 10 rows.\n\nHowever, let's say we wanted to see only the first _five_ rows of this table. We can do this by using the **`take`** function; it takes in a list or range of numbers, and creates a new table with rows from the original table whose indices are given in the array or range. Remember that in Python, indices start at 0! Below are a few examples:"},
    {'cell_type': 'code',
     'collapsed': False,
     'input': 'nba_salaries.take([1, 3, 5]) # Takes rows with indices 1, 3, and 5 (the 2nd, 4th, and 6th rows)',
     'language': 'python',
     'metadata': {},
     'outputs': [{'html': '<table border="1" class="dataframe">\n    <thead>\n        <tr>\n            <th>PLAYER</th> <th>POSITION</th> <th>TEAM</th> <th>\'15-\'16 SALARY</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td>Al Horford     </td> <td>C       </td> <td>Atlanta Hawks</td> <td>12            </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Jeff Teague    </td> <td>PG      </td> <td>Atlanta Hawks</td> <td>8             </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Thabo Sefolosha</td> <td>SF      </td> <td>Atlanta Hawks</td> <td>4             </td>\n        </tr>\n    </tbody>\n</table>',
       'metadata': {},
       'output_type': 'pyout',
       'prompt_number': 6,
       'text': "PLAYER          | POSITION | TEAM          | '15-'16 SALARY\nAl Horford      | C        | Atlanta Hawks | 12\nJeff Teague     | PG       | Atlanta Hawks | 8\nThabo Sefolosha | SF       | Atlanta Hawks | 4"}],
     'prompt_number': 6},
    {'cell_type': 'code',
     'collapsed': False,
     'input': 'nba_salaries.take(7) # Takes the row with index 7 (8th row)',
     'language': 'python',
     'metadata': {},
     'outputs': [{'html': '<table border="1" class="dataframe">\n    <thead>\n        <tr>\n            <th>PLAYER</th> <th>POSITION</th> <th>TEAM</th> <th>\'15-\'16 SALARY</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td>Kent Bazemore</td> <td>SF      </td> <td>Atlanta Hawks</td> <td>2             </td>\n        </tr>\n    </tbody>\n</table>',
       'metadata': {},
       'output_type': 'pyout',
       'prompt_number': 7,
       'text': "PLAYER        | POSITION | TEAM          | '15-'16 SALARY\nKent Bazemore | SF       | Atlanta Hawks | 2"}],
     'prompt_number': 7},
    {'cell_type': 'code',
     'collapsed': False,
     'input': 'nba_salaries.take(np.arange(7)) # Takes the row with indices 0, 1, ... 6',
     'language': 'python',
     'metadata': {},
     'outputs': [{'html': '<table border="1" class="dataframe">\n    <thead>\n        <tr>\n            <th>PLAYER</th> <th>POSITION</th> <th>TEAM</th> <th>\'15-\'16 SALARY</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td>Paul Millsap   </td> <td>PF      </td> <td>Atlanta Hawks</td> <td>18.6717       </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Al Horford     </td> <td>C       </td> <td>Atlanta Hawks</td> <td>12            </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Tiago Splitter </td> <td>C       </td> <td>Atlanta Hawks</td> <td>9.75625       </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Jeff Teague    </td> <td>PG      </td> <td>Atlanta Hawks</td> <td>8             </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Kyle Korver    </td> <td>SG      </td> <td>Atlanta Hawks</td> <td>5.74648       </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Thabo Sefolosha</td> <td>SF      </td> <td>Atlanta Hawks</td> <td>4             </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Mike Scott     </td> <td>PF      </td> <td>Atlanta Hawks</td> <td>3.33333       </td>\n        </tr>\n    </tbody>\n</table>',
       'metadata': {},
       'output_type': 'pyout',
       'prompt_number': 8,
       'text': "PLAYER          | POSITION | TEAM          | '15-'16 SALARY\nPaul Millsap    | PF       | Atlanta Hawks | 18.6717\nAl Horford      | C        | Atlanta Hawks | 12\nTiago Splitter  | C        | Atlanta Hawks | 9.75625\nJeff Teague     | PG       | Atlanta Hawks | 8\nKyle Korver     | SG       | Atlanta Hawks | 5.74648\nThabo Sefolosha | SF       | Atlanta Hawks | 4\nMike Scott      | PF       | Atlanta Hawks | 3.33333"}],
     'prompt_number': 8},
    {'cell_type': 'markdown',
     'metadata': {},
     'source': 'Similarly, we can also choose to display certain columns of the table. There are two methods to accomplish this, and both methods take in lists of either column indices or column labels:\n- The **`select`** method creates a new table with only the columns indicated in the parameters.\n- The **`drop`** method creates a new table with all columns _except_ those indicated by the parameters (i.e. the parameters are dropped).\n\nSome examples:'},
    {'cell_type': 'code',
     'collapsed': False,
     'input': 'nba_salaries.select(["PLAYER", "\'15-\'16 SALARY"]) # Selects only "PLAYER" and "\'15-\'16 SALARY" columns',
     'language': 'python',
     'metadata': {},
     'outputs': [{'html': '<table border="1" class="dataframe">\n    <thead>\n        <tr>\n            <th>PLAYER</th> <th>\'15-\'16 SALARY</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td>Paul Millsap    </td> <td>18.6717       </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Al Horford      </td> <td>12            </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Tiago Splitter  </td> <td>9.75625       </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Jeff Teague     </td> <td>8             </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Kyle Korver     </td> <td>5.74648       </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Thabo Sefolosha </td> <td>4             </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Mike Scott      </td> <td>3.33333       </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Kent Bazemore   </td> <td>2             </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Dennis Schroder </td> <td>1.7634        </td>\n        </tr>\n    </tbody>\n        <tr>\n            <td>Tim Hardaway Jr.</td> <td>1.30452       </td>\n        </tr>\n    </tbody>\n</table>\n<p>... (407 rows omitted)</p',
       'metadata': {},
       'output_type': 'pyout',
       'prompt_number': 9,
       'text': "PLAYER           | '15-'16 SALARY\nPaul Millsap     | 18.6717\nAl Horford       | 12\nTiago Splitter   | 9.75625\nJeff Teague      | 8\nKyle Korver      | 5.74648\nThabo Sefolosha  | 4\nMike Scott       | 3.33333\nKent Bazemore    | 2\nDennis Schroder  | 1.7634\nTim Hardaway Jr. | 1.30452\n... (407 rows omitted)"}],
     'prompt_number': 9},
    {'cell_type': 'code',
     'collapsed': False,
     'input': 'nba_salaries.take([1]) # What does this line of code do again?',
     'language': 'python',
     'metadata': {},
     'outputs': [{'html': '<table border="1" class="dataframe">\n    <thead>\n        <tr>\n            <th>PLAYER</th> <th>POSITION</th> <th>TEAM</th> <th>\'15-\'16 SALARY</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td>Al Horford</td> <td>C       </td> <td>Atlanta Hawks</td> <td>12            </td>\n        </tr>\n    </tbody>\n</table>',
       'metadata': {},
       'output_type': 'pyout',
       'prompt_number': 14,
       'text': "PLAYER     | POSITION | TEAM          | '15-'16 SALARY\nAl Horford | C        | Atlanta Hawks | 12"}],
     'prompt_number': 14},
    {'cell_type': 'code',
     'collapsed': False,
     'input': 'nba_salaries.drop([1, 3]) # Drops the columns with indices 1 and 3 ("POSITION" and "\'15-\'16 SALARY" columns)',
     'language': 'python',
     'metadata': {},

In [6]:
import json

In [12]:
with open('intro-tables.ipynb') as json_data:
    d = json.load(json_data)
    
with open('intro-strings.ipynb') as json_data:
    e = json.load(json_data)
    
d['cells'] = d['cells'] + e['cells']

In [13]:
e['cells']

[{'cell_type': 'markdown',
  'metadata': {},
  'source': ['# Introduction to Strings\n',
   '---\n',
   '\n',
   'This notebook covers the topic of Strings and their importance in the world of programming. You will learn various methods that will help you manipulate these Strings and make useful inferences with them. This notebook assumes that you have already completed the "Introduction to Data Science" notebook.\n',
   '\n',
   '*Estimated Time: 30 minutes*\n',
   '\n',
   '---\n',
   '\n',
   '**Topics Covered:**\n',
   '- Objects\n',
   '- String Concatenation\n',
   '- Loops\n',
   '- String Methods\n',
   '\n',
   '**Dependencies:**']},
 {'cell_type': 'code',
  'execution_count': None,
  'metadata': {'collapsed': True},
  'outputs': [],
  'source': ['import numpy as np\n', 'from datascience import *']},
 {'cell_type': 'markdown', 'metadata': {}, 'source': ['## What Are Objects?']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ["Objects are used very frequently when you're coding - even when you dont know it. But what really is an object? \n",
   '\n',
   "By definition, an object is an **instance** of a **class**. They're an **abstraction**, so they can be used to manipulate data. That sounds complicated, doesn't it? Well, to simplify, think of this: a class is a huge general category of something which holds particular attributes (variables) and actions (functions). Let's assume that Mars has aliens called Xelhas and one of them visits Earth. The Xelha species would be a class, and the alien itself would be an *instance* of that class (or an object). By observing its behavior and mannerisms, we would be able to see how the rest of its species goes about doing things.\n",
   '\n',
   'Strings are objects too, of the *String* class, which has pre-defined methods that we use. But you don\'t need to worry about that yet. All you should know is that Strings are **not** "primitive" data types, such as integers or booleans. That being said, let\'s delve right in.\n',
   '\n',
   'Try running the code cell below:\n']},
 {'cell_type': 'code',
  'execution_count': 2,
  'metadata': {'collapsed': False},
  'outputs': [{'ename': 'TypeError',
    'evalue': "unsupported operand type(s) for +: 'int' and 'str'",
    'output_type': 'error',
    'traceback': ['\x1b[0;31m---------------------------------------------------------------------------\x1b[0m',
     '\x1b[0;31mTypeError\x1b[0m                                 Traceback (most recent call last)',
     '\x1b[0;32m<ipython-input-2-ef40987d8399>\x1b[0m in \x1b[0;36m<module>\x1b[0;34m()\x1b[0m\n\x1b[0;32m----> 1\x1b[0;31m \x1b[1;36m5\x1b[0m \x1b[1;33m+\x1b[0m \x1b[1;34m"5"\x1b[0m\x1b[1;33m\x1b[0m\x1b[0m\n\x1b[0m',
     "\x1b[0;31mTypeError\x1b[0m: unsupported operand type(s) for +: 'int' and 'str'"]}],
  'source': ['5 + "5" ']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['Why did that happen?\n',
   '\n',
   "This can be classified as a *type* error. As mentioned before, Strings are not primitive data types, like integers and booleans, so when you try to **add** a String to an integer, Python gets confused and throws an error. The important thing to note here is that a String is a String: no matter what its contents may be. If it's between two quotes, it has to be a String. \n",
   '\n',
   'But what if we followed the "same type" rule and tried to add two Strings? Let\'s try it.\n']},
 {'cell_type': 'code',
  'execution_count': None,
  'metadata': {'collapsed': False},
  'outputs': [],
  'source': ['"5" + "5"']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['What?! How does 5 + 5 equal 55?\n',
   '\n',
   'This is known as concatenation.']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['## Concatenation\n',
   '\n',
   '"Concatenating" two items means literally combining or joining them. \n',
   '\n',
   'When you put the + operator between two Strings, Python will take the contents from both Strings and mash them together to make one String. This process is called **concatenation**.\n',
   '\n',
   'The following examples illustrate how String concatenation works:']},
 {'cell_type': 'code',
  'execution_count': 4,
  'metadata': {'collapsed': False},
  'outputs': [{'data': {'text/plain': ["'Berkeley'"]},
    'execution_count': 4,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['"Berk" + "eley"']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['Concatenation happens left to right, like how would you expect. In the example below, "B" and "e" are first combined to get "Be", which is then combined with "r" to get "Ber", and so on.']},
 {'cell_type': 'code',
  'execution_count': 5,
  'metadata': {'collapsed': False},
  'outputs': [{'data': {'text/plain': ["'Berkeley'"]},
    'execution_count': 5,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['"B" + "e" + "r" + "k" + "e" + "l" + "e" + "y"']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['**Exericse 1**\n',
   '\n',
   'Here\'s a small exercise for you. In the variable _expression_, create the String "today is a lovely day" using only the variables provided for letters.\n',
   '\n',
   '_Hint: Remember to add spaces between words (double quotes with a space in between, like " ") because Python literally clubs all text together._\n']},
 {'cell_type': 'code',
  'execution_count': 8,
  'metadata': {'collapsed': True},
  'outputs': [],
  'source': ['a = "oda"\n',
   'b = "is"\n',
   'c = "a"\n',
   'd = "l"\n',
   'e = "t"\n',
   'f = "y"\n',
   'g = "lo"\n',
   'h = "d"\n',
   'i = "ve"']},
 {'cell_type': 'code',
  'execution_count': 9,
  'metadata': {'collapsed': False},
  'outputs': [{'ename': 'SyntaxError',
    'evalue': 'invalid syntax (<ipython-input-9-c2e46a62476f>, line 1)',
    'output_type': 'error',
    'traceback': ['\x1b[0;36m  File \x1b[0;32m"<ipython-input-9-c2e46a62476f>"\x1b[0;36m, line \x1b[0;32m1\x1b[0m\n\x1b[0;31m    expression = # Your Code Here\x1b[0m\n\x1b[0m                                 ^\x1b[0m\n\x1b[0;31mSyntaxError\x1b[0m\x1b[0;31m:\x1b[0m invalid syntax\n']}],
  'source': ['expression = # Your Code Here\n', 'print(expression)']},
 {'cell_type': 'markdown', 'metadata': {}, 'source': ['## String methods']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['The String class is great for regular use because it comes equipped with a lot of built-in functions with useful properties. These functions, or **methods**, can fundamentally transform Strings. Here are some common String methods that may prove to be helpful.\n',
   '\n',
   '### Replace\n',
   'For example, the *replace* method replaces all instances of some part of a String with some replacement. A method is invoked on a String by placing a dot after the string value, then the name of the method, and finally parentheses containing the arguments.\n',
   '\n',
   '    <String>.<method name>(<argument>, <argument>, ...)\n',
   '\n',
   'Try to predict the output of these examples, then execute them.']},
 {'cell_type': 'code',
  'execution_count': 11,
  'metadata': {'collapsed': False},
  'outputs': [{'data': {'text/plain': ["'Hillo'"]},
    'execution_count': 11,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['# Replace one letter\n', "'Hello'.replace('e', 'i')"]},
 {'cell_type': 'code',
  'execution_count': 12,
  'metadata': {'collapsed': False},
  'outputs': [{'data': {'text/plain': ["'matchmaker'"]},
    'execution_count': 12,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['# Replace a sequence of letters, which appears twice\n',
   "'hitchhiker'.replace('hi', 'ma')"]},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['When you call a method on a String stored in a variable, it does not fundamentally change the String stored in the variable, so you have to save the result of calling a method into a new variable to see the change. \n',
   '\n',
   'Remember, a String method will replace **every** instance of where the replacement text is found.']},
 {'cell_type': 'code',
  'execution_count': 13,
  'metadata': {'collapsed': False},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': ['sharp = edged\n', 'hot = magma\n']}],
  'source': ["sharp = 'edged'\n",
   "hot = sharp.replace('ed', 'ma')\n",
   "print('sharp =', sharp)\n",
   "print('hot =', hot)"]},
 {'cell_type': 'markdown',
  'metadata': {'collapsed': True},
  'source': ['Another very useful method is the **`split`** method. It takes in a **separator string** and based on the separator, splits up the original string into an array, with each element of the array being a separated portion of the string.\n',
   '\n',
   'This is how we create a split call, where String indicates something of the String class, whether it be a variable name that contains a String, or just something in quotes:\n',
   '\n',
   '`[String].split([String])`\n']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['Here, we split this sentence based on spaces, so every individual word is an element in our final array.']},
 {'cell_type': 'code',
  'execution_count': 15,
  'metadata': {'collapsed': False},
  'outputs': [{'data': {'text/plain': ["['Another', 'very', 'useful', 'method', 'is', 'the', 'split', 'method']"]},
    'execution_count': 15,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['"Another very useful method is the split method".split(" ")']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['In the below example, we have a String of numbers and split based on the comma. We thus get an array of numbers, but which are in quotes, so they are still Strings. We can loop through every element in our array to convert all of the Strings of numbers into ints.']},
 {'cell_type': 'code',
  'execution_count': 17,
  'metadata': {'collapsed': False},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': ["['1', '2', '3', '4', '5', '6', '7']\n",
     '[1, 2, 3, 4, 5, 6, 7]\n']}],
  'source': ['string_of_numbers = "1, 2, 3, 4, 5, 6, 7"\n',
   'arr_of_strings = string_of_numbers.split(", ")\n',
   'print(arr_of_strings) # Remember, these elements are still Strings!\n',
   '\n',
   'arr_of_numbers = []\n',
   'for s in arr_of_strings: # Loop through the array, converting each String to an int\n',
   '    arr_of_numbers.append(int(s))\n',
   'print(arr_of_numbers)']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['As you can see, the `split` function can be very handy when cleaning up and organizing data (a process known as _parsing_).']},
 {'cell_type': 'markdown', 'metadata': {}, 'source': ['## Loops']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['What do you do when you have to do the same task repetitively? Let\'s say you have to say Hi to someone five times. Would that require 5 lines of "print(\'hi\')"? No! This is why coding is beautiful. It allows for automation and takes care of all the hard work. \n',
   '\n',
   'Loops, in the literal meaning of the term, can be used to repeat tasks over and over, until you get your desired output. \n',
   '\n',
   'The most useful loop to know for the scope of this course is the **for** loop.\n',
   '\n',
   'A for statement begins with the word *for*, followed by a name we want to give each item in the sequence, followed by the word *in*, and ending with an expression that evaluates to a sequence. The indented body of the for statement is executed once for each item in that sequence.\n',
   '\n',
   '    for *variable* in *sequence*:\n',
   '        *body of function*\n',
   '        \n',
   "Let's see what happens with this for loop."]},
 {'cell_type': 'code',
  'execution_count': 19,
  'metadata': {'collapsed': False},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': ['J\n',
     'o\n',
     'h\n',
     'n\n',
     ' \n',
     'D\n',
     'e\n',
     'N\n',
     'e\n',
     'r\n',
     'o\n']}],
  'source': ['for each_character in "John DeNero":\n',
   '    print(each_character)']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['In this case, we are looping through the characters inside of the String "John DeNero". At the first iteration of our for loop, each_character is at the character "J", so it prints the "J". At the next iteration, we reach the character "o", so that is printed, and so on.']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['**Exercise 2**\n',
   '\n',
   'Write a for loop that iterates through the sentence "Hi, I am a quick brown fox and I jump over the lazy dog" and checks if each letter is an *a*. Print out the number of a\'s in the sentence.\n',
   '\n',
   "_Hint: try combining what you've learnt from conditions and use a variable as a counter._"]},
 {'cell_type': 'code',
  'execution_count': None,
  'metadata': {'collapsed': False},
  'outputs': [],
  'source': ['# Your Code Here\n', 'for ...\n', '    ']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['## Conclusion\n',
   '---\n',
   'Congratulations! You have learned the basics of String manipulation in Python.']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['## Bibliography\n',
   '---\n',
   'Some examples adapted from the UC Berkeley Data 8 textbook, <a href="https://www.inferentialthinking.com">*Inferential Thinking*</a>.\n',
   '\n',
   'Authors:\n',
   '- Shriya Vohra\n',
   '- Scott Lee\n',
   '- Pancham Yadav']}]

In [14]:
d['cells']

[{'cell_type': 'markdown',
  'metadata': {},
  'source': ['# Introduction to Tables\n',
   '---\n',
   '\n',
   'In this notebook, you will learn about tables in the datascience module and methods associated with them.\n',
   'This notebook assumes that you have already completed the "Introduction to Data Science" notebook.\n',
   '\n',
   '*Estimated Time: 30 minutes*\n',
   '\n',
   '---\n',
   '\n',
   '**Topics Covered:**\n',
   '- Learn how to import and create new Tables.\n',
   '- Learn how to access certain rows, columns, and values.\n',
   '- Learn various methods of finding new information from a table of data.\n',
   '\n',
   '**Parts:**\n',
   '- Creating Tables\n',
   '- Accessing Values\n',
   '- Working With Data\n',
   '\n',
   '**Dependencies:**']},
 {'cell_type': 'code',
  'execution_count': 3,
  'metadata': {},
  'outputs': [{'name': 'stdout',
    'output_type': 'stream',
    'text': ['Requirement already satisfied: datascience in c:\\users\\ashley\\anaconda3\\lib\\site-packages\n',
     'Requirement already satisfied: coveralls==0.5 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from datascience)\n',
     'Requirement already satisfied: pytest in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from datascience)\n',
     'Requirement already satisfied: coverage==3.7.1 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from datascience)\n',
     'Requirement already satisfied: folium==0.1.5 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from datascience)\n',
     'Requirement already satisfied: sphinx in c:\\users\\ashley\\anaconda3\\lib\\site-packages\\sphinx-1.5.1-py3.6.egg (from datascience)\n',
     'Requirement already satisfied: setuptools in c:\\users\\ashley\\anaconda3\\lib\\site-packages\\setuptools-27.2.0-py3.6.egg (from datascience)\n',
     'Requirement already satisfied: PyYAML>=3.10 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from coveralls==0.5->datascience)\n',
     'Requirement already satisfied: requests>=1.0.0 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from coveralls==0.5->datascience)\n',
     'Requirement already satisfied: docopt>=0.6.1 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from coveralls==0.5->datascience)\n',
     'Requirement already satisfied: py>=1.4.29 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from pytest->datascience)\n',
     'Requirement already satisfied: colorama in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from pytest->datascience)\n',
     'Requirement already satisfied: six>=1.5 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\n',
     'Requirement already satisfied: Jinja2>=2.3 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\n',
     'Requirement already satisfied: Pygments>=2.0 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\n',
     'Requirement already satisfied: docutils>=0.11 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\n',
     'Requirement already satisfied: snowballstemmer>=1.1 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\n',
     'Requirement already satisfied: babel!=2.0,>=1.3 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\n',
     'Requirement already satisfied: alabaster<0.8,>=0.7 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\n',
     'Requirement already satisfied: imagesize in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from sphinx->datascience)\n',
     'Requirement already satisfied: MarkupSafe>=0.23 in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from Jinja2>=2.3->sphinx->datascience)\n',
     'Requirement already satisfied: pytz>=0a in c:\\users\\ashley\\anaconda3\\lib\\site-packages (from babel!=2.0,>=1.3->sphinx->datascience)\n']}],
  'source': ['!pip install datascience\n',
   '\n',
   'import numpy as np\n',
   'from datascience import *']},
 {'cell_type': 'markdown', 'metadata': {}, 'source': ['## Creating Tables']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['When dealing with a collection of things with multiple attributes, it can be useful to put the data in a _table_.  Tables are a nice way of organizing data in a 2-dimentional data set. For example, take a look at the table below.']},
 {'cell_type': 'code',
  'execution_count': 4,
  'metadata': {},
  'outputs': [{'data': {'text/html': ['<table border="1" class="dataframe">\n',
      '    <thead>\n',
      '        <tr>\n',
      "            <th>PLAYER</th> <th>POSITION</th> <th>TEAM</th> <th>'15-'16 SALARY</th>\n",
      '        </tr>\n',
      '    </thead>\n',
      '    <tbody>\n',
      '        <tr>\n',
      '            <td>Paul Millsap    </td> <td>PF      </td> <td>Atlanta Hawks</td> <td>18.6717       </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Al Horford      </td> <td>C       </td> <td>Atlanta Hawks</td> <td>12            </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Tiago Splitter  </td> <td>C       </td> <td>Atlanta Hawks</td> <td>9.75625       </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Jeff Teague     </td> <td>PG      </td> <td>Atlanta Hawks</td> <td>8             </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Kyle Korver     </td> <td>SG      </td> <td>Atlanta Hawks</td> <td>5.74648       </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Thabo Sefolosha </td> <td>SF      </td> <td>Atlanta Hawks</td> <td>4             </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Mike Scott      </td> <td>PF      </td> <td>Atlanta Hawks</td> <td>3.33333       </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Kent Bazemore   </td> <td>SF      </td> <td>Atlanta Hawks</td> <td>2             </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Dennis Schroder </td> <td>PG      </td> <td>Atlanta Hawks</td> <td>1.7634        </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Tim Hardaway Jr.</td> <td>SG      </td> <td>Atlanta Hawks</td> <td>1.30452       </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '</table>\n',
      '<p>... (407 rows omitted)</p'],
     'text/plain': ["PLAYER           | POSITION | TEAM          | '15-'16 SALARY\n",
      'Paul Millsap     | PF       | Atlanta Hawks | 18.6717\n',
      'Al Horford       | C        | Atlanta Hawks | 12\n',
      'Tiago Splitter   | C        | Atlanta Hawks | 9.75625\n',
      'Jeff Teague      | PG       | Atlanta Hawks | 8\n',
      'Kyle Korver      | SG       | Atlanta Hawks | 5.74648\n',
      'Thabo Sefolosha  | SF       | Atlanta Hawks | 4\n',
      'Mike Scott       | PF       | Atlanta Hawks | 3.33333\n',
      'Kent Bazemore    | SF       | Atlanta Hawks | 2\n',
      'Dennis Schroder  | PG       | Atlanta Hawks | 1.7634\n',
      'Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452\n',
      '... (407 rows omitted)']},
    'execution_count': 4,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ["Table.read_table('http://inferentialthinking.com/notebooks/nba_salaries.csv')"]},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['This table shows players in the NBA, their position, team, and salary (in millions of dollars) for each player. To create this table, we have drawn the data from the file at <a href="http://inferentialthinking.com/notebooks/nba_salaries.csv">this link</a>, called `nba_salaries.csv`. In general, to import data from a `.csv` file, we write **`Table.read_table("file_name")`.**\n',
   '\n',
   "However, we can also create our own tables from scratch without having to import data from another file. Let's say we have two arrays, one with a list of fruits, and another with a list of their price at the Berkeley Student Food Collective. Then, we can create a new `Table` with each of these arrays as columns with the `with_columns` method:"]},
 {'cell_type': 'code',
  'execution_count': 27,
  'metadata': {},
  'outputs': [{'data': {'text/html': ['<table border="1" class="dataframe">\n',
      '    <thead>\n',
      '        <tr>\n',
      '            <th>Fruit</th> <th>Price ($)</th>\n',
      '        </tr>\n',
      '    </thead>\n',
      '    <tbody>\n',
      '        <tr>\n',
      '            <td>Apple </td> <td>1        </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Orange</td> <td>0.75     </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Banana</td> <td>0.5      </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '</table>'],
     'text/plain': ['Fruit  | Price ($)\n',
      'Apple  | 1\n',
      'Orange | 0.75\n',
      'Banana | 0.5']},
    'execution_count': 27,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['fruit_names = make_array("Apple", "Orange", "Banana")\n',
   'fruit_prices = make_array(1, 0.75, 0.5)\n',
   'fruit_table = Table().with_columns("Fruit", fruit_names,\n',
   '                                  "Price ($)", fruit_prices)\n',
   'fruit_table']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['The **`with_columns`** method takes in pairs of column labels and arrays, and creates a new table with each array as a column of the table. Finally, to create a new table (with no columns or rows), we simply write']},
 {'cell_type': 'code',
  'execution_count': 18,
  'metadata': {},
  'outputs': [{'data': {'text/html': ['<table border="1" class="dataframe">\n',
      '    <thead>\n',
      '        <tr>\n',
      '            \n',
      '        </tr>\n',
      '    </thead>\n',
      '    <tbody>\n',
      '</table>'],
     'text/plain': []},
    'execution_count': 18,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['empty_table = Table()\n', 'empty_table']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ["We typically start off with empty tables when we need to add rows inside for loops, which we'll see later."]},
 {'cell_type': 'markdown', 'metadata': {}, 'source': ['## Accessing Values']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ["Often, it is useful to access only the rows, columns, or values related to our analysis. We'll look at several ways to cut down our table into smaller, more digestible parts.\n",
   '\n',
   "Let's go back to our table of NBA players."]},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['** Exercise 1 **\n',
   '\n',
   'Below, assign a variable named `nba_salaries` to the data from the `nba_salaries.csv` file at http://inferentialthinking.com/notebooks/nba_salaries.csv, then display the table. (Hint: use the `read_table` function from the previous section).']},
 {'cell_type': 'code',
  'execution_count': 5,
  'metadata': {},
  'outputs': [],
  'source': ['# YOUR CODE HERE\n',
   '\n',
   'nba_salaries = Table.read_table("http://inferentialthinking.com/notebooks/nba_salaries.csv")']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['Notice that not all of the rows are displayed--in fact, there are over 400 rows in the table! By default, we are shown the first 10 rows.\n',
   '\n',
   "However, let's say we wanted to see only the first _five_ rows of this table. We can do this by using the **`take`** function; it takes in a list or range of numbers, and creates a new table with rows from the original table whose indices are given in the array or range. Remember that in Python, indices start at 0! Below are a few examples:"]},
 {'cell_type': 'code',
  'execution_count': 6,
  'metadata': {},
  'outputs': [{'data': {'text/html': ['<table border="1" class="dataframe">\n',
      '    <thead>\n',
      '        <tr>\n',
      "            <th>PLAYER</th> <th>POSITION</th> <th>TEAM</th> <th>'15-'16 SALARY</th>\n",
      '        </tr>\n',
      '    </thead>\n',
      '    <tbody>\n',
      '        <tr>\n',
      '            <td>Al Horford     </td> <td>C       </td> <td>Atlanta Hawks</td> <td>12            </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Jeff Teague    </td> <td>PG      </td> <td>Atlanta Hawks</td> <td>8             </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Thabo Sefolosha</td> <td>SF      </td> <td>Atlanta Hawks</td> <td>4             </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '</table>'],
     'text/plain': ["PLAYER          | POSITION | TEAM          | '15-'16 SALARY\n",
      'Al Horford      | C        | Atlanta Hawks | 12\n',
      'Jeff Teague     | PG       | Atlanta Hawks | 8\n',
      'Thabo Sefolosha | SF       | Atlanta Hawks | 4']},
    'execution_count': 6,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['nba_salaries.take([1, 3, 5]) # Takes rows with indices 1, 3, and 5 (the 2nd, 4th, and 6th rows)']},
 {'cell_type': 'code',
  'execution_count': 7,
  'metadata': {},
  'outputs': [{'data': {'text/html': ['<table border="1" class="dataframe">\n',
      '    <thead>\n',
      '        <tr>\n',
      "            <th>PLAYER</th> <th>POSITION</th> <th>TEAM</th> <th>'15-'16 SALARY</th>\n",
      '        </tr>\n',
      '    </thead>\n',
      '    <tbody>\n',
      '        <tr>\n',
      '            <td>Kent Bazemore</td> <td>SF      </td> <td>Atlanta Hawks</td> <td>2             </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '</table>'],
     'text/plain': ["PLAYER        | POSITION | TEAM          | '15-'16 SALARY\n",
      'Kent Bazemore | SF       | Atlanta Hawks | 2']},
    'execution_count': 7,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['nba_salaries.take(7) # Takes the row with index 7 (8th row)']},
 {'cell_type': 'code',
  'execution_count': 8,
  'metadata': {},
  'outputs': [{'data': {'text/html': ['<table border="1" class="dataframe">\n',
      '    <thead>\n',
      '        <tr>\n',
      "            <th>PLAYER</th> <th>POSITION</th> <th>TEAM</th> <th>'15-'16 SALARY</th>\n",
      '        </tr>\n',
      '    </thead>\n',
      '    <tbody>\n',
      '        <tr>\n',
      '            <td>Paul Millsap   </td> <td>PF      </td> <td>Atlanta Hawks</td> <td>18.6717       </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Al Horford     </td> <td>C       </td> <td>Atlanta Hawks</td> <td>12            </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Tiago Splitter </td> <td>C       </td> <td>Atlanta Hawks</td> <td>9.75625       </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Jeff Teague    </td> <td>PG      </td> <td>Atlanta Hawks</td> <td>8             </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Kyle Korver    </td> <td>SG      </td> <td>Atlanta Hawks</td> <td>5.74648       </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Thabo Sefolosha</td> <td>SF      </td> <td>Atlanta Hawks</td> <td>4             </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Mike Scott     </td> <td>PF      </td> <td>Atlanta Hawks</td> <td>3.33333       </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '</table>'],
     'text/plain': ["PLAYER          | POSITION | TEAM          | '15-'16 SALARY\n",
      'Paul Millsap    | PF       | Atlanta Hawks | 18.6717\n',
      'Al Horford      | C        | Atlanta Hawks | 12\n',
      'Tiago Splitter  | C        | Atlanta Hawks | 9.75625\n',
      'Jeff Teague     | PG       | Atlanta Hawks | 8\n',
      'Kyle Korver     | SG       | Atlanta Hawks | 5.74648\n',
      'Thabo Sefolosha | SF       | Atlanta Hawks | 4\n',
      'Mike Scott      | PF       | Atlanta Hawks | 3.33333']},
    'execution_count': 8,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['nba_salaries.take(np.arange(7)) # Takes the row with indices 0, 1, ... 6']},
 {'cell_type': 'markdown',
  'metadata': {},
  'source': ['Similarly, we can also choose to display certain columns of the table. There are two methods to accomplish this, and both methods take in lists of either column indices or column labels:\n',
   '- The **`select`** method creates a new table with only the columns indicated in the parameters.\n',
   '- The **`drop`** method creates a new table with all columns _except_ those indicated by the parameters (i.e. the parameters are dropped).\n',
   '\n',
   'Some examples:']},
 {'cell_type': 'code',
  'execution_count': 9,
  'metadata': {},
  'outputs': [{'data': {'text/html': ['<table border="1" class="dataframe">\n',
      '    <thead>\n',
      '        <tr>\n',
      "            <th>PLAYER</th> <th>'15-'16 SALARY</th>\n",
      '        </tr>\n',
      '    </thead>\n',
      '    <tbody>\n',
      '        <tr>\n',
      '            <td>Paul Millsap    </td> <td>18.6717       </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Al Horford      </td> <td>12            </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Tiago Splitter  </td> <td>9.75625       </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Jeff Teague     </td> <td>8             </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Kyle Korver     </td> <td>5.74648       </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Thabo Sefolosha </td> <td>4             </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Mike Scott      </td> <td>3.33333       </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Kent Bazemore   </td> <td>2             </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Dennis Schroder </td> <td>1.7634        </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '        <tr>\n',
      '            <td>Tim Hardaway Jr.</td> <td>1.30452       </td>\n',
      '        </tr>\n',
      '    </tbody>\n',
      '</table>\n',
      '<p>... (407 rows omitted)</p'],
     'text/plain': ["PLAYER           | '15-'16 SALARY\n",
      'Paul Millsap     | 18.6717\n',
      'Al Horford       | 12\n',
      'Tiago Splitter   | 9.75625\n',
      'Jeff Teague      | 8\n',
      'Kyle Korver      | 5.74648\n',
      'Thabo Sefolosha  | 4\n',
      'Mike Scott       | 3.33333\n',
      'Kent Bazemore    | 2\n',
      'Dennis Schroder  | 1.7634\n',
      'Tim Hardaway Jr. | 1.30452\n',
      '... (407 rows omitted)']},
    'execution_count': 9,
    'metadata': {},
    'output_type': 'execute_result'}],
  'source': ['nba_salaries.select(["PLAYER", "\'15-\'16 SALARY"]) # Selects only "PLAYER" and "\'15-\'16 SALARY" columns']},
 {'cell_type': 'code',
  'execution_count': 14,
  'metadata': {},
  'outputs': [{'data': {'text/html': ['<table border="1" class="dataframe">\n',
      '    <thead>\n',
      '        <tr>\n',
      "            <th>PLAYER</th> <th>POSITION</th> <th>TEAM</th> <th>'15-'16 SALARY</th>\n",
      '        </tr>\n',

In [15]:
with open('concat1.ipynb', 'w') as outfile:
    json.dump(d, outfile)